 @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

 * {
     margin: 0px;
     padding: 0px;
 }


 html,
 body {
     min-width: 100vw;
 }

 :root {
     --fonte1: Verdana, Geneva, Tahoma, sans-serif;
     --fonte2: 'PT Sans Narrow', sans-serif;
     --fonte3: 'Kalam', cursive;
 }

 ::-webkit-scrollbar {
     width: 1.5vw;
 }

 ::-webkit-scrollbar-track {
     background-color: lightslategray;
 }

 ::-webkit-scrollbar-thumb {
     background-color: rgba(0, 0, 0, 0.658);
     border-radius: 1vw;
 }

 ::-webkit-scrollbar-thumb:hover {
     background-color: rgb(0, 0, 0);
 }



 header {
     background-color: black;
     color: white;
     padding: 6vw;
     text-align: center;
     font-family: var(--fonte1);
     font-variant: small-caps;
 }

 h1 {
     font-family: var(--fonte2);
     font-size: 8vw;
     font-weight: bolder;
 }

 a {
     color: white;
     text-decoration: none;
 }

 a:hover,
 h1:hover {
     text-decoration: underline;
 }

 main {
     font-family: var(--fonte3);
     font-size: 5vw;
 }

 section {
     padding-left: 8vw;
     padding-top: 10vw;
     padding-bottom: 10vw;
     line-height: 8vw;

 }

 section.imagem>p {
     background-color: rgba(0, 0, 0, 0.521);
     color: white;
     text-shadow: 2px 2px 0px black;
     display: inline-block;
 }

 section.imagem {
     box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.295);
     background-size: cover;
     background-attachment: fixed;
 }

 section#img01 {
     background-image: url(imagens/background001.jpg);
     background-position: right, center;
 }

 section#img02 {
     background-image: url(imagens/background002.jpg);
 }

 footer {
     font-family: var(--fonte1);
     background-color: black;
     color: white;
     padding: 3em;
     text-align: center;
 }